
Your_Guide/ProjectSettings/HDRPProjectSettings.asset
Your_Guide/ProjectSettings/PackageManagerSettings.asset
Your_Guide/ProjectSettings/Packages/com.unity.polybrush/Settings.json
Your_Guide/ProjectSettings/Packages/com.unity.probuilder/Settings.json
